* {
  box-sizing: border-box;
}
li {
  padding: 5px;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto,
    Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.5;
  background: linear-gradient(#2c4059, #fffde4);
}

img {
  vertical-align: middle;
  width: auto;
  max-width: 500px;
  max-height: 500px;
  display: inline-block;
}

.header_text {
  font-size: 3em;
  font-weight: 500;
  background-color: black;
  background: #ff6a00;
  background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);
  background: linear-gradient(to right, #ff6a00, #ee0979);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.inline-block {
  max-width: 100%;
  display: inline-block;
}
.page-wrapper {
  z-index: 0;
  position: relative;
}
.container {
  width: 90vw;
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
}
.margin-bottom-medium {
  margin-bottom: 32px;
}
.paragraph-large {
  letter-spacing: -0.02em;
  font-size: 20px;
}
.section-timeline-heading {
  /*background: #005AA7;  
    background: -webkit-linear-gradient(to top, #FFFDE4, #005AA7);  
    background: linear-gradient(to top, #FFFDE4, #005AA7); */
  height: 650px;
  width: auto;
  background-image: url("../assets/about/CircuitryAbout.webp"),
    url("../assets/about/FriendsAbout.webp"),
    url("../assets/about/ProjectsAbout.webp");
  background-position: left, center, right; /* image1 at top-left, image2 at bottom-right */
  background-size: 35% auto, 35% auto, 35% auto; /* image1 50% width, image2 cover the element */
  background-repeat: no-repeat, no-repeat, no-repeat;
}
.padding-vertical-xlarge {
  padding-top: 120px;
  padding-bottom: 120px;
}
.timeline-main_heading-wrapper {
  color: #fff;
  text-align: center;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  backdrop-filter: blur(1.2px);
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.5),
    rgba(0, 0, 0, 0.5)
  );
  background-size: 10px;
}
.timeline_component {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}
.timeline_item {
  z-index: 2;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 18px 1fr;
  grid-auto-columns: 1fr;
  padding-top: 80px;
  padding-bottom: 80px;
  display: grid;
  position: relative;
}
.timeline_left {
  text-align: right;
  justify-content: flex-end;
  align-items: stretch;
}
.timeline_centre {
  justify-content: center;
  display: flex;
}
.timeline_right {
  display: flex;
  align-items: center;
}

.timeline_date-text {
  color: #fff;
  letter-spacing: -0.03rem;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.2;
  position: sticky;
  top: 50vh;
}
.timeline_text {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3;
  display: flex;
  align-items: center;
}
.timeline_circle {
  background-color: #fff;
  border-radius: 100%;
  width: 15px;
  min-width: 15px;
  max-width: 15px;
  height: 15px;
  min-height: 15px;
  max-height: 15px;
  position: sticky;
  top: 50vh;
  box-shadow: 0 0 0 8px #0a0a0a;
}
.timeline-progress {
  z-index: -2;
  background-color: #414141;
  width: 3px;
  height: 100%;
  position: fixed;
}
.timeline_progress-bar {
  z-index: -1;
  background: #ff6a00;
  background: -webkit-linear-gradient(to bottom, #ff6a00, #ee0979);
  background: linear-gradient(to bottom, #ff6a00, #ee0979);

  width: 3px;
  height: 50vh;
  position: fixed;
  inset: 0 auto 50vh;
}
.section-timeline {
  z-index: -3;
  /*background-color: #ea5355;*/
  background: #005aa7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    rgba(255, 212, 129, 1),
    rgba(239, 123, 62, 1)
  ); /* Chrome 10-25, Safari 5.1-6  #ffd481, #EF7b3e*/
  background: linear-gradient(
    to bottom,
    rgba(255, 212, 129, 1),
    rgba(239, 123, 62, 1)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  position: relative;
}
.margin-bottom-xlarge {
  margin-top: 25px;
}
.timeline_link {
  opacity: 0.6;
  color: #fff;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  border-radius: 8px;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.3;
  text-decoration: none;
  transition: opacity 0, 3s;
  display: flex;
}
.timeline_link:hover {
  opacity: 1;
}
.link-icon {
  width: 20px;
  height: 20px;
  margin-left: 8px;
}
.inline-block {
  display: inline-block;
}
.text-colour-lightgrey {
  color: #ffffffa6;
}
.overlay-fade-top {
  height: 88px;
  position: absolute;
  inset: 0% 0% auto;
}
.overlay-fade-bottom {
  height: 88px;
  position: absolute;
  inset: auto 0% 0%;
}
@media screen and (max-width: 767px) {
  h2 {
    font-size: 40px;
  }
  .paragraph-large {
    font-size: 18px;
  }
  .padding-vertical-xlarge {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .timeline_item {
    grid-template-columns: 64px 1fr;
    width: 100%;
  }
  .timeline_left {
    text-align: left;
    grid-area: 1 / 2/ 2 / 3;
  }
  .timeline_centre {
    text-align: flex-start;
    grid-area: 1 / 1 / 3 / 2;
  }
  .timeline_right {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
  .timeline_date-text {
    margin-bottom: 24px;
    font-size: 36px;
  }
  .timeline_text {
    font-size: 20px;
  }
  .timeline_progress {
    left: 6px;
  }
  .margin-bottom-xlarge {
    margin-bottom: 48px;
  }
}
/*timeline container end*/
/*navbar*/
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  top: 0px;
  position: sticky;
  background: transparent;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  z-index: 999;
}
.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 2rem;
  max-width: 1600px;
}
.navbar-logo {
  font-size: 2rem;
  font-weight: 600;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.navbar-container .navbar-menu {
  display: flex;
  text-align: center;
  gap: 1.5rem;
  list-style: none;
}

.navbar-container .navbar-menu li a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 3px 20px;
  border-radius: 20px;
  border: 2px solid transparent;
  transition: all 0.7s ease;
  white-space: nowrap;
}
.navbar-container .navbar-menu li a:hover,
.navbar-container .navbar-menu li a.active {
  color: #162530;
  background: rgba(188, 212, 229, 0.8);
  border: 2px solid white;
}
.navbar-toggle {
  display: none;
  background: transparent;
  padding: 10px;
  border: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background: white;
  transition: all 0.3s ease-in-out;
}
/*responsive style for nav 880 px*/
@media (max-width: 880px) {
  .navbar {
    backdrop-filter: none;
  }
  .navbar-container .navbar-menu {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.7rem !important;
    position: absolute;
    height: 100vh;
    width: 250px;
    top: 0;
    right: 0;
    padding: 5rem 1.5rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
  }
  .navbar-container .navbar-menu.active {
    display: flex;
  }
  .navbar-toggle {
    display: block;
    z-index: 999;
  }
  .navbar-toggle.active .bar:nth-child(2) {
    opacity: 0;
  }
  .navbar-toggle.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .navbar-toggle.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
@media (max-width: 480px) {
  .navbar-container {
    padding: 0 1rem;
  }
  .navbar-logo {
    font-size: 1.7rem;
  }
  .navbar-container .navbar-menu li a {
    font-size: 1.2rem;
    padding: 3px 15px;
  }
}
