body {
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto,
    Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  backdrop-filter: blur(5px);
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.3),
    rgba(0, 0, 0, 0.4)
  );
  background-size: 30px;
  margin: 0rem;
  overflow: hidden;
}
.card-text {
  font-size: 20px;
}
.card-body {
  width: 10vw;
}

#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%);
  user-select: none; /* -- Prevent image highlighting -- */
}

#image-track > .image {
  display: flex;
  width: 40vmin;
  height: 56vmin;

  border-radius: 20px;
  /*border-image: linear-gradient(
    90deg,
    rgba(35, 130, 248, 0.605) 0%,
    rgba(255, 212, 129, 0.99) 35%,
    rgba(247, 169, 96, 1) 49%,
    rgba(239, 123, 62, 1) 76%,
    rgba(234, 83, 85, 0.79) 100%
  );
  background-repeat: repeat;
  border-image-slice: 1;*/
  object-fit: cover;
  object-position: 100% center;
}

/*navbar*/
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  top: 0px;
  position: sticky;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  z-index: 999;
}
.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 2rem;
  max-width: 1600px;
}
.navbar-logo {
  font-size: 2rem;
  font-weight: 600;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.navbar-container .navbar-menu {
  display: flex;
  text-align: center;
  gap: 1.5rem;
  list-style: none;
}

.navbar-container .navbar-menu li a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 3px 20px;
  border-radius: 20px;
  border: 2px solid transparent;
  transition: all 0.7s ease;
  white-space: nowrap;
}
.navbar-container .navbar-menu li a:hover,
.navbar-container .navbar-menu li a.active {
  color: #162530;
  background: rgba(188, 212, 229, 0.8);
  border: 2px solid white;
}
.navbar-toggle {
  display: none;
  background: transparent;
  padding: 10px;
  border: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background: white;
  transition: all 0.3s ease-in-out;
}
/*responsive style for nav 880 px*/
@media (max-width: 880px) {
  .navbar {
    backdrop-filter: none;
  }
  .navbar-container .navbar-menu {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.7rem !important;
    position: absolute;
    height: 100vh;
    width: 250px;
    top: 0;
    right: 0;
    padding: 5rem 1.5rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
  }
  .navbar-container .navbar-menu.active {
    display: flex;
  }
  .navbar-toggle {
    display: block;
    z-index: 999;
  }
  .navbar-toggle.active .bar:nth-child(2) {
    opacity: 0;
  }
  .navbar-toggle.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .navbar-toggle.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
@media (max-width: 480px) {
  .navbar-container {
    padding: 0 1rem;
  }
  .navbar-logo {
    font-size: 1.7rem;
  }
  .navbar-container .navbar-menu li a {
    font-size: 1.2rem;
    padding: 3px 15px;
  }
}
/* Add this at the end of your projects.css file */

body.is-transitioning #image-track {
  visibility: hidden;
}
